<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head')%>
    <title>Bon Habite</title>
</head>


<body>
    <%- include('../partials/header')%>
    <div class="mx-xs-2 mx-md-5" style="min-height: 100vh;">
        <h1 class="title_general ml-0 pl-0 " style="font-family:Playfair Display;">Administrador de usuarios</h1>
        <section class="row">

            <a class="btn_volver m-0 mb-4 ml-3 text-center" href="/signUp" style="border-radius: none;"></ion-icon>
                Agregar</a>

                <form action="/busquedausuarios" class="form-inline  ml-4 mb-4" method="GET">
                    <input class="form-control search2 mr-sm-2 search-responsive" type="search" name="buscar"
                        placeholder="Buscar usuarios" style="color:#D7613C;" style="margin-top:0; ">
                    <ion-icon name="search-outline"></ion-icon>
                    </button>
                </form>
        </section>


        <table class="table">
            <thead class="ml-4">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Ver</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <tbody>
                <% usuarios.forEach(usuario => { %>
                <tr>
                    <td><%= usuario.id %> </td>
                    <td><%= usuario.name%> </td>
                    <td><%= usuario.lastName%> </td>

                    <td><a class="text-muted" href="/user/detail/<%= usuario.id%>">
                            <ion-icon name="eye-outline"></ion-icon>
                        </a></td>
                    <td><a class="text-muted" href="/user/edit/<%= usuario.id%>">
                            <ion-icon name="create-outline"></ion-icon>
                        </a></td>
                    <td><a class="text-muted sureDelete" href="/user/delete/<%= usuario.id%>">
                            <ion-icon name="trash-outline"></ion-icon>
                        </a></td>
                </tr>
                <% }) ; %>
            </tbody>
        </table>
    </div>

    <%- include('../partials/footer')%>
    <script src="/js/delete.js"></script>
    <%- include('../partials/scripts')%>

</body>


</html>