<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head')%>
    <title>Bon Habite</title>
    <script src="js/edit.js"></script>

</head>



<body>
    <%- include('../partials/header')%>

    <div class="container">
        <div class="row">

            <section class="row">
                <div class="col-lg-5 col-md-5 col-sm-12 contain_image">
                    <figure class="form-group formfigure">
                        <img class="w-50 py-3" src="/img/productos/<%= productoMueble.image%>"alt="muebles">
                    </figure>


                </div>

                <div class="col-lg-7 col-md-7 col-sm-12">

                    <article>

                        <div class="card-body">
                            <h1 class="title_general p-0 m-0" style="font-size: 25px;">Editar el producto</h1>
                        </div>
                    </article>

                    <div class="signup-form">
                        <form action="/admin/edit/<%= productoMueble.id%>?_method=PUT" method="POST"
                            enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="text" class="form-control edit classjsName" name="name" placeholder="Nombre"
                                    value="<%= productoMueble.name%>">

                                    <div class="errorName">   </div>
                                    <% if (typeof(errors) != 'undefined' && errors.name) { %>
                                        <span class="text-danger"> <%=errors.name.msg %> </span>
                                        <% } %>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control edit classjsDescription" name="description"
                                    placeholder="Descripción" 
                                    value="<%= productoMueble.description%>">

                                    <div class="errorDescription">   </div>
                                    <% if (typeof(errors) != 'undefined' && errors.description) { %>
                                        <span class="text-danger"> <%=errors.description.msg %> </span>
                                        <% } %>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control edit classjsPrice" name="price"
                                    placeholder="Indique el precio" 
                                    value="<%=productoMueble.price%>">

                                    <div class="errorPrice">   </div>
                                    <% if (typeof(errors) != 'undefined' && errors.price) { %>
                                        <span class="text-danger"> <%=errors.price.msg %> </span>
                                        <% } %>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control edit classjsStock" name="stock"
                                    placeholder="Indique el stock" 
                                    value="<%=productoMueble.stock%>">
                                    <% if (typeof(errors) != 'undefined' && errors.stock) { %>
                                        <span class="text-danger"> <%=errors.stock.msg %> </span>
                                        <% } %>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control edit classjsMeasurements" name="measurements"
                                    placeholder="Indique las medidas en cm"
                                    value="<%= productoMueble.measurements%>">

                                    <div class="errorPrice">   </div>
                                    <% if (typeof(errors) != 'undefined' && errors.measurements) { %>
                                        <span class="text-danger"> <%=errors.measurements.msg %> </span>
                                        <% } %>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control edit classjsWeigth" name="weigth"
                                    placeholder="Indique el peso en Kg"
                                    value="<%= productoMueble.weigth%>">

                                    <div class="errorWeigth">   </div>
                                    <% if (typeof(errors) != 'undefined' && errors.weigth) { %>
                                        <span class="text-danger"> <%=errors.weigth.msg %> </span>
                                        <% } %>
                            </div> 

                       <!--  <div class="form-group">
                            <div class="form-check">
                                <p> Elija materiales</p>
                                <input class="form-check-input" type="checkbox" name="madera" id="defaultCheck1">
                                <label class="form-check-label mr-4" for="defaultCheck1">
                                 Madera
                                </label>
                                <input class="form-check-input" type="checkbox" name="metal" id="defaultCheck1">
                                <label class="form-check-label mr-4" for="defaultCheck1">
                                Metal
                                </label>
                                <input class="form-check-input" type="checkbox" name="plástico" id="defaultCheck1">
                                <label class="form-check-label mr-4" for="defaultCheck1">
                                 Plástico
                                </label>
                                <input class="form-check-input" type="checkbox" name="arpillera" id="defaultCheck1">
                                <label class="form-check-label mr-4" for="defaultCheck1">
                                 Arpillera
                                </label>
                              </div>
                            </div> 

                            <div class="form-group">
                                <div class="form-check">
                                    <p class="ml-0"> Elija colores</p>
                                    <input class="form-check-input" type="checkbox" name="#B5513B" id="defaultCheck1">
                                    <label class="form-check-label mr-4" for="defaultCheck1">
                                     Rojo
                                    </label>
                                    <input class="form-check-input" type="checkbox" name="#74BCF2" id="defaultCheck1">
                                    <label class="form-check-label mr-4" for="defaultCheck1">
                                    Celeste
                                    </label>
                                    <input class="form-check-input" type="checkbox" name="#345BDB" id="defaultCheck1">
                                    <label class="form-check-label mr-4" for="defaultCheck1">
                                     Azul
                                    </label>
                                    <input class="form-check-input" type="checkbox" name="#6A9C73" id="defaultCheck1">
                                    <label class="form-check-label mr-4" for="defaultCheck1">
                                     Verde
                                    </label>
                                    <input class="form-check-input" type="checkbox" name="#FFE25E" id="defaultCheck1">
                                    <label class="form-check-label mr-4" for="defaultCheck1">
                                     Amarillo
                                    </label> <br>
                                    <input class="form-check-input" type="checkbox" name="#9BA2AB" id="defaultCheck1">
                                    <label class="form-check-label mr-4" for="defaultCheck1">
                                     Gris   
                                    </label>
                                    <input class="form-check-input" type="checkbox" name="#A35E43" id="defaultCheck1">
                                    <label class="form-check-label mr-4" for="defaultCheck1">
                                     Marrón
                                    </label>
                                    <input class="form-check-input" type="checkbox" name="#FFFFFF" id="defaultCheck1">
                                    <label class="form-check-label mr-4" for="defaultCheck1">
                                     Blanco
                                    </label>
                                    <input class="form-check-input" type="checkbox" name="#000000" id="defaultCheck1">
                                    <label class="form-check-label mr-4" for="defaultCheck1">
                                     Negro
                                    </label>
                                  </div>
                                </div>   -->   

                           

                            <div class="form-group">
                                <select name="discount" class="custom-select classjsDiscount">
                                    <option selected disabled value="#">Elija su descuento</option>
                                    <option value="0" <%= productoMueble.discount == 0 ? "selected" : null %>> Sin descuento</option>
                                    <option value="15" <%= productoMueble.discount == 15 ? "selected" : null %>>15%</option>
                                    <option value="30" <%= productoMueble.discount == 30 ? "selected" : null %>>30%</option>
                                </select>
                               
                            </div>

                            <div class="errorDiscount">   </div>


                            <div class="form-group">
                                <select name="collection" class="custom-select classjsCollection">
                                    <option selected disabled value="#">Elija la colección</option>
                                    <option value="1" <%= productoMueble.collectionId == 1 ? "selected" : null %>> Colección A
                                    </option>
                                    <option value="2" <%= productoMueble.collectionId == 2 ? "selected" : null %>> Colección B
                                    </option>
                                    <option value="3" <%= productoMueble.collectionId == 3 ? "selected" : null %>>  Colección C
                                    </option>
                                    <option value="4" <%= productoMueble.collectionId == 4 ? "selected" : null %>>  Reciclados
                                    </option>
                                    <option value="5" <%= productoMueble.collectionId == 5 ? "selected" : null %>> Ofertas
                                    </option>
                                </select>
                            </div>

                            <div class="errorCollection">   </div>

                            <div class="form-group">
                            <select name="category"  class="custom-select classjsCategory">
                                <option value=<%= productoMueble.categoryId.name%>><%= productoMueble.categoryId.name%></option>
                                <option value="1" <%= productoMueble.categoryId == 1 ? "selected" : null %>> Mesas</option>
                                <option value="2" <%= productoMueble.categoryId == 2 ? "selected" : null %>> Sillas </option>
                                <option value="3" <%= productoMueble.categoryId == 3 ? "selected" : null %>> Bancos </option>
                                <option value="4" <%= productoMueble.categoryId == 4 ? "selected" : null %>> Iluminación </option>
                                <option value="5" <%= productoMueble.categoryId == 5 ? "selected" : null %>> Sillones </option>
                                <option value="6" <%= productoMueble.categoryId == 6 ? "selected" : null %>> Escritorios </option>
                                <option value="7" <%= productoMueble.categoryId == 7 ? "selected" : null %>> Camas </option>
                                <option value="8" <%= productoMueble.categoryId == 8 ? "selected" : null %>> Cómodas </option>
                                <option value="9" <%= productoMueble.categoryId == 9 ? "selected" : null %>> Otras </option>
                              </select>
                              </div>

                              <div class="errorCategory">   </div>

                            <!--De esta forma logro conservar y que viaje la imagen anterior de esta forma evito que el usuario seleccione una imagen nuevamente, ( si no lo desea) -->  
                            <!-- hidden: esta pero no se ve en el form. -->

                            <label for="exampleFormControlFile1">Eligí una nueva imagen</label>
                            <input type="hidden" name="oldImagen" value="<%= productoMueble.image%>">
                            <input type="file" class="form-control-file classjsImage " id="exampleFormControlFile1" name="image"
                            placeholder="Seleccione una imagen">

                            <div class="errorImage">   </div>

                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn btn_comprar">Actualizar</button>
                        <a class="btn btn btn_volver" href="/administrar">Volver</a>
                    </div>

                    </form>
                </div>
            </section>
        </div>

    </div>
    </div>

    <%- include('../partials/footer')%>
    <%- include('../partials/scripts')%>
    <script src="js/editarProducto.js"></script>


</body>



</html>