<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('../partials/head')%>
  <title>Agregá tu producto</title>
  <link rel="stylesheet" href="css/signUp.css">
  <script src="js/productAdd.js"></script>
</head>

<body class="body-login">
  <%- include('../partials/header')%>

  <section class="containersignUp">
    <form class="form-login" action="/create" method="POST" enctype="multipart/form-data">

      <h1 class="h3 mb-3 font-weight-normal title-form">Añadir producto</h1>

      <label for="inputName" class="sr-only">Nombre</label>
      <input type="text" id="inputName" class="form-control signup classjsName" name="name" placeholder="Nombre"  value="<%=typeof old == 'undefined' ? '':old.name %>">


      <div class="errorName">   </div>
      <% if (typeof(errors) != 'undefined' && errors.name) { %>
        <span class="text-danger"> <%=errors.name.msg %> </span>
        <% } %>

      <label for="inputPrice" class="sr-only">Precio</label>
      <input type="text" id="inputPrice" class="form-control signup classjsPrice" name="price" placeholder="Precio"  value="<%=typeof old == 'undefined' ? '':old.price %>">


      <div class="errorPrice">   </div>
      <% if (typeof(errors) != 'undefined' && errors.price) { %>
        <span class="text-danger"> <%= errors.price.msg %> </span>
        <% } %>

      <label for="inputStock" class="sr-only">Stock</label>
      <input type="text" id="InputStock" class="form-control signup classjsStock" name="stock" placeholder="Stock" value="<%=typeof old == 'undefined' ? '':old.stock %>">

      <div class="errorStock">   </div>
      <% if (typeof(errors) != 'undefined' && errors.stock) { %>
        <span class="text-danger"> <%=errors.stock.msg %> </span>
        <% } %>

      <label for="inputDetail" class="sr-only">Detalle</label>
      <input type="text" id="inputDetail" class="form-control signup classjsDescription" name="description" placeholder="Descripción"  value="<%=typeof old == 'undefined' ? '':old.description%>" >

      <div class="errorDescription">   </div>
      <% if (typeof(errors) != 'undefined' && errors.description) { %>
        <span class="text-danger"><%= errors.description.msg %> </span>
        <% } %>


        <label for="inputDetail" class="sr-only">Medidas</label>
      <input type="text" id="inputDetail" class="form-control signup classjsMeasurements" name="measurements" placeholder="Medidas" value="<%=typeof old == 'undefined' ? '':old.measurements %>">

      <div class="errorMeasurements">   </div>
      <% if (typeof(errors) != 'undefined' && errors.measurements) { %>
        <span class="text-danger"><%= errors.measurements.msg %> </span>
        <% } %>

        <label for="inputDetail" class="sr-only">Peso</label>
      <input type="text" id="inputDetail" class="form-control signup classjsWeigth" name="weigth" placeholder="Peso" value="<%=typeof old == 'undefined' ? '':old.weigth %>" >

      <div class="errorWeigth">   </div>
      <% if (typeof(errors) != 'undefined' && errors.weigth) { %>
        <span class="text-danger"><%= errors.weigth.msg %> </span>
        <% } %>

      <!-- <div class="form-group">
          <div class="form-check">
              <p class="checkbox-form-title ml-n4"> Elija materiales</p>
              <input class="form-check-input" type="checkbox" name="materials" id="defaultCheck1">
              <label class="form-check-label mr-4 color-checkbox" for="defaultCheck1" value="madera">
               Madera
              </label>
              <input class="form-check-input" type="checkbox"  name="materials" id="defaultCheck1">
              <label class="form-check-label mr-4 color-checkbox" for="defaultCheck1" value="metal"> 
              Metal
              </label>
              <input class="form-check-input" type="checkbox" name="materials" id="defaultCheck1">
              <label class="form-check-label mr-4 color-checkbox" for="defaultCheck1" value="plástico">
               Plástico
              </label>
              <input class="form-check-input" type="checkbox"  name="materials" id="defaultCheck1">
              <label class="form-check-label mr-4 color-checkbox" for="defaultCheck1" value="arpillera">
               Arpillera
              </label>
            </div>
          </div> 

          <div class="form-group">
              <div class="form-check">
                  <p class="checkbox-form-title ml-n4"> Elija colores</p>
                  <input class="form-check-input" type="checkbox" name="colors" id="defaultCheck1">
                  <label class="form-check-label mr-4 color-checkbox" for="defaultCheck1" value="#B5513B" >
                   Rojo
                  </label>
                  <input class="form-check-input" type="checkbox" name="colors" id="defaultCheck1">
                  <label class="form-check-label mr-4 color-checkbox" for="defaultCheck1" value="#74BCF2">
                  Celeste
                  </label>
                  <input class="form-check-input" type="checkbox" name="colors" id="defaultCheck1">
                  <label class="form-check-label mr-4 color-checkbox" for="defaultCheck1" value="#345BDB">
                   Azul
                  </label>
                  <input class="form-check-input" type="checkbox" name="colors" id="defaultCheck1">
                  <label class="form-check-label mr-4 color-checkbox" for="defaultCheck1" value="#6A9C73">
                   Verde
                  </label>
                  <input class="form-check-input" type="checkbox" name="colors" id="defaultCheck1">
                  <label class="form-check-label mr-4 color-checkbox" for="defaultCheck1" value="#FFE25E">
                   Amarillo
                  </label> <br>
                  <input class="form-check-input" type="checkbox" name="colors" id="defaultCheck1">
                  <label class="form-check-label mr-4 color-checkbox" for="defaultCheck1" value="#9BA2AB">
                   Gris   
                  </label>
                  <input class="form-check-input" type="checkbox" name="colors" id="defaultCheck1">
                  <label class="form-check-label mr-4 color-checkbox" for="defaultCheck1" value="#A35E43">
                   Marrón
                  </label>
                  <input class="form-check-input" type="checkbox" name="colors" id="defaultCheck1">
                  <label class="form-check-label mr-4 color-checkbox" for="defaultCheck1" value="#FFFFFF">
                   Blanco
                  </label>
                  <input class="form-check-input" type="checkbox" name="colors" id="defaultCheck1">
                  <label class="form-check-label mr-4 color-checkbox" for="defaultCheck1" value="#000000">
                   Negro
                  </label>
                </div>
              </div>   --> 

      <select name="collection" class="form-control signup classjsCollection " value="<%=typeof old == 'undefined' ? '':old.collection %>" >
        <option selected disabled>Elija su colección</option>
        <option value="1" > Colección A</option>
        <option value="2"> Colección B </option>
        <option value="3"> Colección C </option>
        <option value="4"> Reciclados </option>
        <option value="5"> Ofertas </option>
      </select>

      <div class="errorCollection">   </div>
      <% if (typeof(errors) != 'undefined' && errors.collection) { %>
        <span class="text-danger"><%= errors.collection.msg %> </span>
        <% } %>

      <select name="category" class="form-control signup classjsCategory" value="<%=typeof old == 'undefined' ? '' : old.category %>">
        <option selected disabled> Qué categoria es? </option>
        <option value="1"> Mesas</option>
        <option value="2"> Iluminación </option>
        <option value="3"> Camas </option>
        <option value="4"> Sillones </option>
        <option value="5"> Escritorios </option>
        <option value="6"> Bibliotecas </option>
        <option value="7"> Cómodas </option>
        <option value="8"> Sillas </option>
        <option value="9"> Otras </option>
     

      </select>

      <div class="errorCategory">   </div>
      <% if (typeof(errors) != 'undefined' && errors.category) { %>
        <span class="text-danger"><%= errors.category.msg %> </span>
        <% } %>

      <select name="discount" class="form-control signup classjsDiscount" value="<%=typeof old == 'undefined' ? '' : old.discount%>">

        <option selected ="#" disabled >Elija su descuento</option>
        <option value="0"> Sin descuento </option>
        <option value="15"> 15% </option>
        <option value="30"> 30% </option>
      </select>

      <div class="errorDiscount">   </div>
      <% if (typeof(errors) != 'undefined' && errors.discount) { %>
        <span class="text-danger"><%= errors.discount.msg %> </span>
        <% } %>


      <div class="form-group">
        <label for="exampleFormControlFile1"></label>
        <input type="file" class="form-control-file classjsImage" id="exampleFormControlFile1" name="image"  value="<%=typeof old == 'undefined' ? '':old.image%>">
      </div>

      <div class="errorImage">   </div>
      <% if (typeof(errors) != 'undefined' && errors.image) { %>
        <span class="text-danger"> <%= errors.image.msg %> </span>
        <% } %>


      <button class="btn_register" type="submit">Añadir</button>
      <a class="btn btn_volver mt-0" href="/administrar">Volver</a>

    </form>
  </section>
  <%- include('../partials/footer')%>
  <%- include('../partials/scripts')%>

</body>

</html>