<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('../partials/head')%>
  <title>Productos | <%= titulo%> </title>
  <link rel="stylesheet" href="css/signUp.css">
</head>

<body>
  <%- include('../partials/header')%>
  <container class="row" style="background-color: white;">
    <section class="product-list col-3 d-none d-md-block">
      <h2 class="productlist-title">CATEGORIA</h2>
      <h3 class="productlist-title2 mb-4"> <%=titulo%> </h3>

      <h4 class="productlist-subtitle">CATEGORIAS</h4>
      <ul>
        <li><a class="productlist" href="/todas">Todas</a></li>
        <li> <a class="productlist" href="/categoria/Mesas">Mesas</a></li>
        <li><a class="productlist" href="/categoria/Sillas">Sillas</a></li>
        <li><a class="productlist" href="/categoria/Bancos">Bancos</a></li>
        <li> <a class="productlist" href="/categoria/Iluminacion">Iluminación</a></li>
        <li><a class="productlist" href="/categoria/Sillones">Sillones</a></li>
        <li><a class="productlist" href="/categoria/Camas">Camas</a></li>
        <li> <a class="productlist" href="/categoria/Comodas">Cómodas</a></li>
        <li><a class="productlist" href="/ofertas">Otras</a></li>
      </ul>


      <h4 class="productlist-subtitle">COLECCIONES</h4>
      <ul>


        <li> <a class="productlist" href="/colecciones/Clásica"> CLÁSICA</a></li>
        <li><a class="productlist" href="/colecciones/Rústica"> RÚSTICA </a></li>
        <li> <a class="productlist" href="/colecciones/Minimal"> MINIMAL </a></li>
        <li> <a class="productlist" href="/colecciones/Reciclados">Reciclados</a></li>
      </ul>

      <h4 class="productlist-subtitle">FILTRÁ POR COLORES</h4>
      <select class="custom-select custom-select-sm mb-4">
        <option value="1">Negro</option>
        <option selected>Blanco</option>
        <option selected>Gris</option>
        <option selected>Verde</option>
        <option selected>Madera</option>
        <option selected>Plateado</option>
        <option value="2">Azul</option>
        <option value="3">Amarillo</option>
      </select>

      <h4 class="productlist-subtitle"> FILTRÁ POR MATERIAL</h4>
      <select class="custom-select custom-select-sm mb-4">
        <option selected>Madera</option>
        <option selected>Plástico</option>
        <option selected>Roble</option>
        <option value="1">Metal</option>
        <option value="2">Mármol</option>
        <option value="3">Plástico</option>
        <option value="3">Arpillera</option>
        <option value="3">Quebracho</option>
      </select>
    </section>

    <section class="product-photos col-9">

      <div class="aclaracionproductos">
        <div class="sortbycont">
          <h4 class="productlist-subtitle d-none d-md-block ">Ordenar por:</h4>
          <select class="custom-select sortby custom-select-sm">
            <option selected>Popularidad</option>
            <option value="1">Precio: menor a mayor</option>
            <option value="2">Precio: mayor a menor</option>
          </select>
        </div>
        <h4 class="numeroproductos"> <%= productos.length%> PRODUCTOS</h4>
      </div>



      <section class="mr-4 sm-mg-auto" style="display: flex; flex-wrap: wrap;">
  
        <% productos.forEach(producto => { %>
        <article class="col-xs-12 col-md-6 col-lg-4 card">
          <a href="/products/detail/<%=producto.id%>">

            <div class="relativepos">
              <img src="/img/productos/<%=producto.image %>" class="card-img-top" alt="producto">
              <% if (producto.discount == 15) { %>
                <div class=" descuento15" ><h3 class="descuentotype">SALE 15%</h3> </div>  
              <% } %>
              <% if (producto.discount == 30) { %>
                <div  class=" descuento30"> <h3 class="descuentotype">SALE 30%</h3> </div>  
              <% } %>
            </div>

            <div class="card-body">
              <h5 class="card-title"> <%= producto.name %> </h5>
              <% if (producto.discount == 0) { %>
              <p class="card-text"> $<%= producto.price %> </p>
              <% } else { %>
                <p class="card-text"> $<%= producto.price %> </p>
                <% }  %>
          </a>
          <button class="btn_deletecart mb-1 mt-2"> AÑADIR AL CARRITO </button>
          </div>
        </article>
        <% }) %>
      </section>

    </section>

    </div>

  </container>

  <%- include('../partials/footer')%>
  <%- include('../partials/scripts')%>
</body>

</html>