<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head')%>
  <title>Detalle Producto</title>
</head>

<body>

  <%- include('../partials/header')%>

  <container class="product_detail">

    <div class="image_productdetail">

      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <figure style="height: 40%;" class="figureDetail"><img style="object-fit: cover;" class="main_image d-block w-100"
                style="object-fit: cover; max-height: 70%;" src="/img/productos/<%= producto.image%>" alt="producto">
            </figure>
          </div>
        </div>
      </div>
    </div>

    <section class="description_product">
      <a href="javascript:history.back()">
        <p class="flecha-atras">
          <ion-icon name="arrow-back-outline"></ion-icon> Volver
        </p>
      </a>


      <h4 class="type_product_category" style="text-transform:uppercase"> CATEGORIA | <%= producto.category.name %>
        </h3>
        <H1 class="type_productname"> <%= producto.name %> </H1>
        <div class="container_price">
          <p class="type_price_description"> $ <%= producto.price %> </p>
        </div>

        <div class="container_buttons">
          <button class="add_cart">AÑADIR AL CARRITO</button>
        </div>

        <h3 class="type_titledescription"> Descripción </h3>
        <ul class="type_description">
          <li> <%= producto.description %> </li>
        </ul>

        <% if(producto.color.length != 0) { %>

        <h3 class="type_titledescription">Colores</h3>
        <ul class="coloresdisponibles">
          <% for (let i = 0 ; i < producto.color.length ; i ++) { %>
          <li class="coloresdetail" style="background-color: <%= producto.color[i].name %>" ></li>
          <% } %>
        </ul>
        <% } %>

        <!-- <li class="coloresdetail" style=`background-color: ${producto.color[i].name}`;></li>--> 
      

        <h3 class="type_titledescription"> Stock </h3>
        <ul class="type_description">
          <li> <%= producto.stock %> </li>
        </ul>


        <% if(producto.material.length != 0) { %>

        <h3 class="type_titledescription"> Materiales </h3>
        <ul class="type_description">

          <% for (let i = 0 ; i < producto.material.length ; i ++) { %>
          <li style="text-transform: capitalize;"> <%= producto.material[i].name %> </li>
          <% } %>
        </ul>

        <% } %>

        <h3 class="type_titledescription">Detalles</h3>
        <ul class="type_description">
          <li>Medidas: <%= producto.measurements %></li>
          <li>Peso: <%= producto.weigth %> Kg</li>
        </ul>
    </section>
  </container>

  <%- include('../partials/footer')%>
  <%- include('../partials/scripts')%>

</body>

</html>